html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333333; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.app {
  max-width: 490px;
  margin: 0 auto; }

.header_app {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 20px 0; }

.left_side {
  width: 25%;
  position: relative; }

.right_side {
  width: 68%;
  height: 100%;
  box-sizing: border-box;
  margin-left: 10px; }

.photo_block {
  width: 120px;
  height: 120px;
  position: absolute;
  background: url("../images/profile_photo.jpg") -76px -22px no-repeat;
  border-radius: 50%; }

.name {
  padding: 5px;
  font-weight: bold;
  color: #333333; }

.position {
  padding: 5px;
  font-size: 12px;
  color: #808080; }

.status {
  padding: 5px;
  font-size: 14px;
  position: relative;
  line-height: 1.4;
  margin-top: 2px; }
  .status:before {
    content: "";
    display: block;
    position: absolute;
    width: 110%;
    height: 100%;
    top: 0;
    left: -10%;
    background: #fffbc8;
    border: 1px solid #cecabf;
    border-radius: 10px;
    z-index: -1; }

.services {
  float: right;
  margin-right: 22px;
  margin-bottom: 15px;
  font-size: 14px; }

.services_header {
  padding-bottom: 15px; }

.services_header_row {
  border-bottom: 1px solid #cccccc; }

.services_footer {
  border-top: 1px solid #cccccc;
  font-size: 16px;
  font-weight: bold; }

.service_total {
  padding-top: 15px; }

.service_total_counter {
  text-align: right; }

.services_name {
  position: relative;
  width: 266px;
  padding: 5px;
  margin: 2px 0; }
  .services_name:after {
    content: '';
    display: block;
    position: absolute;
    background: #ace2f8;
    width: 20%;
    height: 100%;
    top: 1px;
    left: 1px;
    z-index: -1;
    border-left: 1px solid #7eb4ca;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

.services_counter {
  text-align: right; }

.services_body {
  border-bottom: 2px solid white; }
  .services_body td {
    vertical-align: middle;
    padding: 7px 5px; }

.first_row .services_name:after {
  width: 85%;
  height: 80%;
  top: 20%;
  background: #b1e19b;
  border-left: 1px solid #83b26d; }
.first_row td {
  padding-top: 14px; }

.last_row {
  border-bottom: none; }
  .last_row td {
    padding-bottom: 14px; }
  .last_row .services_name:after {
    width: 12%;
    height: 80%; }

.fix {
  clear: both; }

.reviews_block {
  max-width: 720px;
  margin: 0 auto;
  outline: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }

.reviews_header {
  width: 75%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 5px 0; }

.reviews_content {
  min-height: 20px; }

.reviews_form {
  min-height: 20px;
  outline: 1px solid red; }

.reviews_title {
  margin-left: 30px;
  font-weight: bold; }

.reviews_link {
  font-size: 14px;
  margin-left: 14px;
  font-weight: normal; }

.reviews_button {
  display: inline-block;
  padding-left: 15px; }

.reviews_buttons_block {
  font-size: 14px;
  margin-right: 15px; }

.like_button {
  background: url("../images/like_icon.png") 0 0 no-repeat; }

.comments_button {
  background: url("../images/comment_icon.png") 0 1px no-repeat;
  margin-left: 10px; }

.reviews_content {
  width: 95%;
  display: flex;
  flex-flow: column nowrap; }

.review_author {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px; }

.review_date {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  color: #808080; }

.review_text {
  position: relative;
  padding: 15px;
  background-color: #f2fbff;
  border: 1px solid #cecabf;
  font-size: 14px; }
  .review_text::before, .review_text::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 7%;
    border: 5px solid transparent;
    border-bottom: 5px solid #cecabf;
    border-left: 5px solid #cecabf; }
  .review_text::after {
    top: -8px;
    left: 7.2%;
    border-bottom: 5px solid #f2fbff;
    border-left: 5px solid #f2fbff; }

.review {
  padding: 10px 0; }

.reviews_form_block {
  width: 100%;
  background: #f2f2f2; }

.reviews_form {
  width: 90%;
  margin: 30px auto; }

.reviews_textarea {
  width: 99%;
  height: 60px;
  resize: vertical; }

.reviews_form_textarea {
  margin-bottom: 15px; }

.review_form_submit_button {
  text-align: center; }

.review_submit_button {
  width: 70%;
  height: 42px;
  background: #fdd639;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  box-sizing: border-box; }

@media screen and (max-width: 550px) {
  .reviews_header {
    width: 100%; } }
@media screen and (max-width: 450px) {
  .right_side {
    margin-left: 15px; }

  .photo_block {
    width: 100px;
    height: 100px; }

  .reviews_title {
    margin-left: 2px; }

  .reviews_buttons_block {
    margin-right: 2px; } }
