$green : #b1e19b;
$blue : #ace2f8;
$green_border: #83b26d;
$blue_border: #7eb4ca;
$status_bg: #fffbc8;
$comment_bg: #f2fbff;
$button_bg: #fdd639;
$form_bg: #f2f2f2;
$font_color: #333333;
$comment_border_color: #cecabf;
$light_text_color: #808080;
$main_font-family: "Arial, sans-serif";
